.logo {
    padding-top: 8px;
}

.full-screen-absolute{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:100%;
    height: 100%;
}

.full-parent-relative{
     position:relative;
     left:0;
     right:0;
     top:0;
     bottom:0;
     width:100%;
     height: 100%;
 }

.user-name{
    color:dodgerblue;
    padding: 0 10px;
}

.relative-position{
    position:relative;
    height: 100%;
}

.middle-login{
    position: relative;
    margin: auto 0;
}